openapi: 3.2.0
info:
  contact:
    email: devs@thorchain.org
  description: The Midgard Public API queries THORChain and any chains linked via the Bifröst and prepares information about the network to be readily available for public users. The API parses transaction event data from THORChain and stores them in a time-series database to make time-dependent queries easy. Midgard does not hold critical information. To interact with THORChain protocol, users should query THORNode directly.
  title: Midgard Public Bonds API
  version: 2.34.2
servers:
- url: https://gateway.liquify.com/chain/thorchain_midgard
tags:
- name: Bonds
paths:
  /v2/bonds/{address}:
    get:
      description: 'Returns the bond details of a given address.

        The response contains the bond amount, the bond status, and the bond type.

        This is wrapper from THORNode nodes API.'
      operationId: GetBondersDetails
      parameters:
      - description: Address of the bonder
        example: thor102y0m3uptg0vvudeyh00r2fnz70wq7d8y7mu2g
        in: path
        name: address
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/BonderDetailsResponse'
      summary: Bonder Details
      tags:
      - Bonds
components:
  schemas:
    BonderDetails:
      properties:
        address:
          description: Bonder address
          example: thor1
          type: string
        nodes:
          items:
            $ref: '#/components/schemas/BonderNode'
          type: array
        totalBonded:
          description: Int64(e8), total amount of RUNE bonded from the bonder
          example: '1000000000'
          type: string
      required:
      - address
      - totalBonded
      - nodes
      type: object
    BonderNode:
      properties:
        address:
          description: Bonded node address
          example: thor1
          type: string
        bond:
          description: Int64(e8), amount of RUNE bonded to the node
          example: '1000000000'
          type: string
        status:
          description: status of the node
          example: Active
          type: string
      required:
      - address
      - bond
      - status
      type: object
  responses:
    BonderDetailsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BonderDetails'
      description: object containing bonder data for a specific member
