openapi: 3.2.0
info:
  contact:
    email: devs@thorchain.org
  description: The Midgard Public API queries THORChain and any chains linked via the Bifröst and prepares information about the network to be readily available for public users. The API parses transaction event data from THORChain and stores them in a time-series database to make time-dependent queries easy. Midgard does not hold critical information. To interact with THORChain protocol, users should query THORNode directly.
  title: Midgard Public Members API
  version: 2.34.2
servers:
- url: https://gateway.liquify.com/chain/thorchain_midgard
tags:
- name: Members
paths:
  /v2/members:
    get:
      description: 'Returns an array containing the addresses for all pool members.

        Addresses are only shown once. If there''s both a RUNE address and an asset address

        for a member, only the RUNE address will be shown.'
      operationId: GetMembersAdresses
      parameters:
      - description: Return only members present in the pool.
        in: query
        name: pool
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/MembersResponse'
      summary: Members List
      tags:
      - Members
components:
  schemas:
    Members:
      items:
        description: Member address
        example: tbnb1fj2lqj8dvr5pumfchc7ntlfqd2v6zdxqwjewf5
        type: string
      type: array
  responses:
    MembersResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Members'
      description: array of all the members
