openapi: 3.2.0
info:
  contact:
    email: devs@thorchain.org
  description: The Midgard Public API queries THORChain and any chains linked via the Bifröst and prepares information about the network to be readily available for public users. The API parses transaction event data from THORChain and stores them in a time-series database to make time-dependent queries easy. Midgard does not hold critical information. To interact with THORChain protocol, users should query THORNode directly.
  title: Midgard Public Borrowers API
  version: 2.34.2
servers:
- url: https://gateway.liquify.com/chain/thorchain_midgard
tags:
- name: Borrowers
paths:
  /v2/borrowers:
    get:
      description: 'Returns an array containing the addresses for all borrowers.

        Addresses are only shown once.'
      operationId: GetBorrowersAddresses
      parameters:
      - description: Return only borrowers getting loan against this asset as collateral.
        in: query
        name: asset
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/BorrowersResponse'
      summary: Borrowers List
      tags:
      - Borrowers
components:
  schemas:
    Borrowers:
      items:
        description: Borrower address
        example: tbnb1fj2lqj8dvr5pumfchc7ntlfqd2v6zdxqwjewf5
        type: string
      type: array
  responses:
    BorrowersResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Borrowers'
      description: array of all the borrowers
