openapi: 3.2.0
info:
  contact:
    email: devs@thorchain.org
  description: The Midgard Public API queries THORChain and any chains linked via the Bifröst and prepares information about the network to be readily available for public users. The API parses transaction event data from THORChain and stores them in a time-series database to make time-dependent queries easy. Midgard does not hold critical information. To interact with THORChain protocol, users should query THORNode directly.
  title: Midgard Public Churns API
  version: 2.34.2
servers:
- url: https://gateway.liquify.com/chain/thorchain_midgard
tags:
- name: Churns
paths:
  /v2/churns:
    get:
      description: Returns block height and timestamp for each churn.
      operationId: GetChurns
      responses:
        '200':
          $ref: '#/components/responses/ChurnsResponse'
      summary: Churns List
      tags:
      - Churns
components:
  schemas:
    ChurnItem:
      properties:
        date:
          description: full timestamp (nanoseconds since 1970) of the block at which the churn occurred
          example: '946684801000000000'
          type: string
        height:
          description: height of the block at which the churn occurred
          example: '2000000'
          type: string
      required:
      - height
      - date
      type: object
    Churns:
      items:
        $ref: '#/components/schemas/ChurnItem'
      type: array
  responses:
    ChurnsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Churns'
      description: Array containing the last occurred churns in block height and timestamp
