openapi: 3.2.0
info:
  contact:
    email: devs@thorchain.org
  description: The Midgard Public API queries THORChain and any chains linked via the Bifröst and prepares information about the network to be readily available for public users. The API parses transaction event data from THORChain and stores them in a time-series database to make time-dependent queries easy. Midgard does not hold critical information. To interact with THORChain protocol, users should query THORNode directly.
  title: Midgard Public Thorname API
  version: 2.34.2
servers:
- url: https://gateway.liquify.com/chain/thorchain_midgard
tags:
- name: Thorname
paths:
  /v2/thorname/lookup/{name}:
    get:
      description: Returns an array of chains and their addresses associated with the given THORName
      operationId: GetTHORNameDetail
      parameters:
      - description: a THORName
        example: thorchain
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/THORNameDetailsResponse'
      summary: THORName Details
      tags:
      - Thorname
  /v2/thorname/owner/{address}:
    get:
      description: 'Returns an array of THORNames owned by the address. The address is not necessarily an

        associated address for those thornames.'
      operationId: GetTHORNamesOwnerByAddress
      parameters:
      - description: Address which owns a THORName.
        example: thor102y0m3uptg0vvudeyh00r2fnz70wq7d8y7mu2g
        in: path
        name: address
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ReverseTHORNameResponse'
      summary: THORName owner
      tags:
      - Thorname
  /v2/thorname/rlookup/{address}:
    get:
      description: Returns an array of THORNames associated with the given address
      operationId: GetTHORNamesByAddress
      parameters:
      - description: Address to match THORNames against.
        example: bnb1jxfh2g85q3v0tdq56fnevx6xcxtcnhtsmcu64m
        in: path
        name: address
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ReverseTHORNameResponse'
      summary: Gives a list of THORNames by reverse lookup
      tags:
      - Thorname
components:
  responses:
    THORNameDetailsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/THORNameDetails'
      description: object containing THORName data for a specific name
    ReverseTHORNameResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReverseTHORNames'
      description: object containing a list of THORName names for a specific address
  schemas:
    ReverseTHORNames:
      items:
        description: THORName name
        example: myname
        type: string
      type: array
    THORNameDetails:
      properties:
        entries:
          description: List details of all chains and their addresses for a given THORName
          items:
            $ref: '#/components/schemas/THORNameEntry'
          type: array
        expire:
          description: Int64, THORChain block height in which THORName expires
          type: string
        owner:
          description: owner's THOR address
          example: thor102y0m3uptg0vvudeyh00r2fnz70wq7d8y7mu2g
          type: string
      required:
      - owner
      - expire
      - entries
      type: object
    THORNameEntry:
      properties:
        address:
          description: address on blockchain
          type: string
        chain:
          description: blockchain
          type: string
      required:
      - chain
      - address
      type: object
