openapi: 3.2.0
info:
  contact:
    email: devs@thorchain.org
  description: The Midgard Public API queries THORChain and any chains linked via the Bifröst and prepares information about the network to be readily available for public users. The API parses transaction event data from THORChain and stores them in a time-series database to make time-dependent queries easy. Midgard does not hold critical information. To interact with THORChain protocol, users should query THORNode directly.
  title: Midgard Public Holders API
  version: 2.34.2
servers:
- url: https://gateway.liquify.com/chain/thorchain_midgard
tags:
- name: Holders
paths:
  /v2/holders:
    get:
      description: 'Returns all coin amounts of the given asset ordered by their amounts in descending order.


        This endpoint is enabled only if the midgard startup config allows it.'
      operationId: GetHolders
      parameters:
      - description: Asset to get the top holders for.
        example: THOR.RUNE
        in: query
        name: asset
        schema:
          format: string
          type: string
      - description: Number of top holders to return, default is 100, maximum is 1000.
        example: 150
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/HolderResponse'
      summary: Current top holders for an asset
      tags:
      - Holders
components:
  schemas:
    Coin:
      description: Represents a digital currency amount
      properties:
        amount:
          description: Int64(e8), asset Amount.
          type: string
        asset:
          description: Asset in CHAIN.SYMBOL format
          type: string
      required:
      - asset
      - amount
      type: object
    Holders:
      items:
        $ref: '#/components/schemas/Holder'
      type: array
    Coins:
      items:
        $ref: '#/components/schemas/Coin'
      type: array
    Holder:
      properties:
        address:
          description: address of the holder
          example: thor102y0m3uptg0vvudeyh00r2fnz70wq7d8y7mu2g
          type: string
        coins:
          $ref: '#/components/schemas/Coins'
      required:
      - address
      - coins
      type: object
  responses:
    HolderResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Holders'
      description: object containing balance details for a given address
