openapi: 3.2.0
info:
  title: Thorchain Health API
  contact:
    email: devs@thorchain.org
  version: '1.0'
  description: 'Operations tagged Health across 2 of this provider''s published API definitions: thorchain-midgard-openapi.json, thorchain-thornode-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://gateway.liquify.com/chain/thorchain_midgard
tags:
- name: Health
paths:
  /v2/health:
    get:
      description: 'Returns an object containing the health response of the API.

        Meaning of heights:


        lastThorNode - Latest block as reported by ThorNode.


        lastFetched - Latest block fetched from ThorNode.


        lastCommitted - Latest block committed to the DB but not fully processed yet.


        lastAggregated - Latest block fully processed and aggregated.


        genesisInfo - The genesis height Midgard bootstrapped with.'
      operationId: GetHealth
      responses:
        '200':
          $ref: '#/components/responses/HealthResponse'
      summary: Health Info
      tags:
      - Health
    servers:
    - url: https://gateway.liquify.com/chain/thorchain_midgard
  /thorchain/ping:
    get:
      operationId: ping
      tags:
      - Health
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Ping
                properties:
                  ping:
                    type: string
                    example: pong
      summary: Ping
      x-summary-source: derived
components:
  schemas:
    GenesisInf:
      properties:
        hash:
          description: Genesis Block hash
          type: string
        height:
          description: Genesis Block height
          type: integer
      required:
      - height
      - hash
      type: object
    HeightTS:
      properties:
        height:
          description: Block height
          type: integer
        timestamp:
          description: Block timestamp (seconds since epoch)
          type: integer
      required:
      - height
      - timestamp
      type: object
    Health:
      properties:
        database:
          description: True means healthy, connected to database
          type: boolean
        genesisInfo:
          $ref: '#/components/schemas/GenesisInf'
        inSync:
          description: True means healthy. False means Midgard is still catching up to the chain
          type: boolean
        lastAggregated:
          $ref: '#/components/schemas/HeightTS'
        lastCommitted:
          $ref: '#/components/schemas/HeightTS'
        lastFetched:
          $ref: '#/components/schemas/HeightTS'
        lastThorNode:
          $ref: '#/components/schemas/HeightTS'
        scannerHeight:
          description: Int64, the current block count
          type: string
      required:
      - database
      - scannerHeight
      - inSync
      - lastThorNode
      - lastFetched
      - lastCommitted
      - lastAggregated
      type: object
  responses:
    HealthResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Health'
      description: Returns health status for Midgard
x-refined-from:
- thorchain-midgard-openapi.json
- thorchain-thornode-openapi.yaml
